@model List<MovieShop.Entities.Movie>

@{
    ViewBag.Title = "Index";
}

<h2> Top Revenue Movies </h2>

<table class="table">
    <tr>
        <td> Id   </td>
        <td> Title   </td>
        <td> Revenue   </td>
        <td> Budget   </td>
    </tr>

    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.id </td>
            <td>@movie.title</td>
            <td>@movie.Revenue</td>
            <td>@movie.Budget</td>
        </tr>
        }
    </tbody>

</table>
